<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>LoperLog[API] - Lost?</title>
</head>
<body>
    <h1>You're lost...</h1>
    <p>
        Hi there. Clearly you have allowed your curiosity to wonder and now you ended up on here. 
        Don't fret, this URL is actually used for the API of LoperLog, the developer logger. 
    </p>
    <p>
        Go ahead and be my guest if you wanna mess around with this website, however if you
        are an unfortunate soul to wonder here, you are on the wrong website. 
    </p>
    <h2>For the nerds: </h2>
    <p>
        This website runs on port 5000, while the website would run on 4200. Maybe try changing to that?
    </p>
    <p>
        IDK, I'm just a website with not much information don't attack me for your mistake. 
    </p>
</body>
</html>