<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
	<title>LoperLog - Privacy Policy</title>

	<!-- Bootstrap stuff -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
		crossorigin="anonymous"
	/>
</head>
<body>
	<div class="container py-5" style="max-width: 900px;">
		<h1 id="privacy-policy">Privacy Policy</h1>
		<p>Uhh, I suppose we don&#39;t steal your data and send it off to other businesses. The entire app is open source and is hosted by you or 
		your company. </p>
		<p>Its also secure, like 2FA is required to enter into your account and its really nice. And the database is encrypted. </p>
		<p>Did I already say that the app is open source at <a href="https://github.com/TempeHS/2026SE_Task1_Thribhu.K">TempeHS/2026SE_Task1_Thribhu.K</a>. Like, if you don&#39;t trust the app, look at the source code yourself. We deadass don&#39;t have any telemetry.</p>
	</div>

	<!-- Bootstrap stuff -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"
	></script>
</body>
</html>
